  <div class="box">
    <div class="solution-box-left" {{bind-attr class="isEnabled:enabled:disabled"}}>
      <img class="circular" {{bind-attr src=solution.posse_image}} height="80px" width="80px">
      <span class="solution-name">{{solution.posse}}</span><br/>
    </div>
    <div class="solution-box-right">
      <span class="point-adjust">{{solution.points_earned}}</span>
      <span class="update-title"> points</span>
        <button class="solution-buttons show" {{action 'show'}}>Show</button>
        <button class="solution-buttons dislike" {{action 'dislike'}}>Dislike</button>
        <button class="solution-buttons like" {{action 'like'}}>Like</button>

    </div>
    <pre class="hidden solution">
      <code class="language-ruby">
        {{solution.content}}
      </code>
    </pre>
  </div>
