 <div class="box">
    <div class="solution-box-left" {{bind-attr class="isEnabled:enabled:disabled"}}>
      <img class="circular" {{bind-attr src=solution.posse_image}} height="80px" width="80px">
      <span class="solution-name">{{solution.posse}}</span><br/>
    </div>
    <div class="solution-box-right">
      <span class="point_adjust">{{solution.upvoteCount}}</span>
      <span class="update-title"> likes</span>
      <span class="point-adjust">{{points}}</span>
      <span class="update-title"> points</span>
      <button class="solution-buttons show" {{action 'show'}}>Show</button>
      {{#if wasLiked}}
        <button class="solution-buttons like" {{action 'removeLike' solution}}>Unlike</button>
      {{else}}
        <button class="solution-buttons like" {{action 'addLike' solution}}>Like</button>
      {{/if}}
    </div>
    <pre class="hidden solution">{{solution.content}}</pre>
  </div>
