<div class="col-md-4">
</div>
<div class="col-md-8">
  <div class="countdown-wrapper">
    <div class="clock"></div>
  </div>
</div>
<div class="mod-scores">
  <div class="col-md-6">
    <h2>Leaderboard</h2>
    <div class="col-sm-12 leaderboard">
      {{#each poss in poss itemController='poss'}}
      {{#with poss}}
      <div class="box">
        <div class="posse-box-left">
          <img class="circular"{{bind-attr src=imageUrl}} height="80px" width="80px">
          <span class="posse-name">{{name}}</span>
        </div>
        <div class="posse-box-right">
          <div class="progress">
            <div class="progress-bar progress-bar-turing" {{bind-Attr style=styledPointPercentage}}>
              <span class="sr-only">{{pointPercentage}}% Complete</span>
              {{scores}}
            </div>
          </div>
        </div>
      </div>
      {{/with}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-6">
    <h2>Updates</h2>
    <div class="col-sm-12 updates">
      {{solution-updates solution=solution imageUrl=imageUrl}}
    </div>
  </div>
  </div>
</div>
